<div class="row">
	<div class="col-md-3">
		<% @products.each do |product| %>
			<%= product.title %>
			<%= product.description %>
			<%= product.quantity %>
			<%= product.price %>
		<% end %>
	</div>
</div>